.fundo{

    background-image: url(dotnome.png);
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: auto;
}
.minhaborda {
    border: 1px solid #006dba;
}

.tamanho{
    padding: 10px;
}
.navbar{

}

.divevento{
    width: 200px;
    height:200px;
    padding: 10px;
    border-radius: 48% ;
    border: 3px;
    border-color: orange;
   background-color: #00c0ef;
    margin :10px;
    position:relative;
}