.fundo{
padding: 10px;
    background-image: url(pontilhado.png);
    border-radius: 20px;

    }
.minhaborda {
    border: 1px solid #006dba;
}

.tamanho{
    padding: 10px;
}
.navbar{

}

.divevento{
    width: 200px;
    height:200px;
    padding: 10px;
    border-radius: 50% ;
        border: dotted #e3a721;
    margin :10px;
    position:relative;
}
.botaoDot{
    float:right;
    font-size: large;
    padding:5px;
    width: 60px;
    height: 30px;
    border-radius: 9px;
}